body{
  text-align: center;
}

/* Set a fixed height for each row */
tr {
  height: 50px;
}

/* Style the skeleton lines with a gradient */
.skeleton-line {
  background: linear-gradient(90deg, #eee 25%, #ddd 37%, #eee 63%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease-in-out infinite;
}

/* Animate the background gradient */
/* @keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */

/* Style the table header */
th {
  background-color: #222;
  color: #fff;
  padding: 12px;
  text-align: left;
}

/* Style the table cells */
td {
  background-color: lightgray;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}


table {
  margin: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
} 
